html, body {
  height: 100vh;
  font-family: 'verdana', sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgb(36,52,71);
  color: white;
}

header {
  /* grid-area: header; */
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  box-shadow: 0px 0px 6px 0 #000;
  position: sticky;
  background-color: rgb(20,29,38);
  /* background-color: #9FEDD7; */
}

.body {
  display: block;
  overflow-y: scroll;
  max-height: 80vh;
}

footer {
  /* grid-area: footer; */
  display: flex;
  justify-content: center;
  height: 128px;
  box-shadow: inset 0px 0px 6px 0 #000;
  background-color: rgb(20,29,38);
  font-size: 0.75rem;
  /* border-top: 1px solid grey; */
}

.Collapsible {
  background-color: rgb(63, 72, 83);
  font-size: 0.75rem;
}

.Collapsible__contentInner {
  padding-left: 2rem;
  border-top: 1px solid rgb(20,29,38);
}
