html, body {
  height: 100%;
  font-family: 'verdana', sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgb(36,52,71);
  color: white;
}

header {
  /* grid-area: header; */
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  box-shadow: 0px 0px 6px 0 #000;
  position: sticky;
  background-color: rgb(20,29,38);
  /* background-color: #9FEDD7; */
}

.body {
  display: block;
  overflow-y: scroll;
  max-height: 576px;
}

footer {
  /* grid-area: footer; */
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  height: 5rem;
  width: 100%;
  box-shadow: inset 0px 0px 6px 0 #000;
  /* border-top: 1px solid grey; */
}
