html, body {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url('./MoRun.PNG');

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-card {
  background: white;
}

header {
  /* grid-area: header; */
  font-size: 4rem;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #9FEDD7;
}

.body {
  top: 80px;
  bottom: 3rem;
  width: 100%;
}

footer {
  /* grid-area: footer; */
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  height: 3rem;
  width: 100%;
}
