.bark-row-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-bottom: 1px solid #9fedd7;
    background-color: #026670;
    color: white;
}

.bark-row-text {
    flex-grow: 1;
}

.bark-row-start {
    flex-grow: 2;
}

.bark-row-end {
    flex-grow: 2;
}